@page
@model SignalRAssignment.Pages_Supplier.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Supplier</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "d-flex align-items-center justify-content-center" }))
{
    <div class="d-flex align-items-center w-50">
        <input asp-for="@Model.SearchString" class="form-control me-2" placeholder="Search" id="search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
@{
    var pagingmodel = new Helpers.PagingModel
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/Supplier/Index", new { p = p })
            };
}
<p>
    <a class="btn btn-primary" asp-page="Create">Create New Supplier</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Supplier)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="table-action">
                    @await Html.PartialAsync("_TableAction", new ViewDataDictionary(ViewData) { {"id", @item.SupplierId}})
                </td>
            </tr>
        }
    </tbody>
</table>
<partial style="margin-left: 38%" name="_pagingXTL" model="@pagingmodel" />
