@page
@model SignalRAssignment.Pages_Order.IndexModel

@{
    ViewData["Title"] = "Order";
}
@{
    var pagingmodel = new Helpers.PagingModel
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/Oder/Index", new { p = p })
            };
}
<partial name="_pagingXTL" model="@pagingmodel" />
<h1 style="text-align:center">Order</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.FullName)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.OrderId" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
