@page
@model SignalRAssignment.Pages_Product.IndexModel

@{
    ViewData["Title"] = "Index";
}
@{
    var pagingmodel = new Helpers.PagingModel
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/Product/Index", new { p = p })
            };
}

<h1 style="text-align:center">Product</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "d-flex align-items-center justify-content-center" }))
{
    <div class="d-flex align-items-center w-50">
        <input asp-for="@Model.SearchString" class="form-control me-2" placeholder="Search" id="search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<p>
    <a class="btn btn-primary" asp-page="Create">Create New Product</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier.CompanyName)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    <img src="@item.ProductImage" class="card-img-top" alt="@item.ProductImage">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td class="table-action">
                    @await Html.PartialAsync("_TableAction", new ViewDataDictionary(ViewData) { {"id", item.ProductId}})
                </td>
            </tr>
        }
    </tbody>
</table>
<partial style="margin-left: 38%" name="_pagingXTL" model="@pagingmodel" />
