@page
@model SignalRAssignment.Pages_Profile.IndexModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">@Html.DisplayFor(model => model.Account.UserName)</h5>
                            <p class="text-muted mb-1">@Html.DisplayFor(model => model.Account.FullName)</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a class="btn btn-primary" asp-page="./Edit">Edit</a>
                                <a class="btn btn-outline-primary ms-1" asp-area="" asp-page="/Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <hr>
                            <table class="table table-striped">
                                
                                <tr>
                                    <td class="col-4" style="font-weight: bold">Fullname:</td>
                                    <td class="col-8" style="text-align:center">@Html.DisplayFor(model => model.Account.FullName)</td>
                                </tr>
                                <tr>
                                    <td class="col-4" style="font-weight: bold">Username:</td>
                                    <td class="col-8" style="text-align:center">@Html.DisplayFor(model => model.Account.UserName)</td>
                                </tr>
                                <tr>
                                    <td class="col-4" style="font-weight: bold">Password:</td>
                                    <td class ="col-8" style="text-align:center">@Html.DisplayFor(model => model.Account.Password)</td>
                                </tr>
                                <tr>
                                    <td class ="col-4" style="font-weight: bold">Type:</td>
                                    <td class="col-8" style="text-align:center">@Html.DisplayFor(model => model.Account.Type)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
